# Virtual environment folder
env/
venv/

# Generated outputs and logs
runs/
*.log

# Datasets and test data (if they are large or not essential to store in Git)
datasets/
test_data/
runs/
ultralytics/
feedback.mp3

# Python cache files
__pycache__/
*.pyc
